body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.game-container {
    border: 2px solid white;
}

canvas {
    background-color: #111;
}